$primaryColor_blue: #0266ff;
$secondaryColor_yellow: #dcf10d;
$cardFont_cardFont: #10131c;
$backGround: #192140;
$borderColor: #9d9db5;
$paragraphColor: #10131c;
$myLogoFontSize: 24px;
$myLogoFontWeight: 700;
$otherFontSize: 16px;
$otherFontStyle: normal;
$aligningFlexStart: flex-start;
$alignCenter: center;
