@use "mixins";
@use "variables";

* {
  @include mixins.root();
}

// HEADER ..//

.header {
  width: auto;
  height: 84px;
  background-color: variables.$backGround;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: variables.$secondaryColor_yellow;
  font-size: variables.$myLogoFontSize;
  font-family: Inter;
  font-style: variables.$otherFontStyle;
  font-weight: variables.$myLogoFontWeight;
  @include mixins.logo-style-layout();
}

.menu {
  display: inline-flex;
  justify-content: flex-end;
  align-items: variables.$alignCenter;
  gap: 60px;
}

.navigator {
  text-align: variables.$alignCenter;
  font-size: variables.$otherFontSize;
  align-items: variables.$aligningFlexStart;
  @include mixins.navigatorStyle();
}

.signupField {
  @include mixins.displayFlex();
  padding: 16px 20px;
  gap: 20px;
}

.signUp {
  color: variables.$borderColor;
  font-size: variables.$otherFontSize;
  font-style: variables.$otherFontStyle;
  font-weight: variables.$myLogoFontWeight;
  line-height: 100%;
  letter-spacing: -0.16px;
}

.logIn {
  border-radius: 40px;
  border: 1px solid variables.$primaryColor_blue;
  color: variables.$primaryColor_blue;
  font-size: variables.$otherFontSize;
  font-family: Inter;
  font-style: variables.$otherFontStyle;
  font-weight: 600px;
  line-height: 100%;
  letter-spacing: -0.16px;
  @include mixins.displayFlex();
  padding: 16px 20px;
  gap: 5px;
}
