* {
  padding: 0px;
  margin: 0px;
}

/* header */

.header {
  width: auto;
  height: 84px;
  background-color: #192140;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: var(--primary-yellow-01, #dcf10d);
  font-size: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;

  letter-spacing: 2.4px;
  width: 76px;
  height: 17px;
  margin-left: 80px;
  margin-top: 25px;
}

/* navigator */

.menu {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
}

.navigator {
  text-align: center;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.signupField {
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.signUp {
  color: #9d9db5;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.16px;
}

.logIn {
  border-radius: 40px;
  border: 1px solid #0266ff;
  color: #0266ff;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.16px;
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.blog {
  color: #dcf10d;
  text-decoration-line: underline;
}

/* Content */

.content {
  margin: 50px auto;
  width: 900px;
  background-color: #fff;
  display: flex;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 20px;
}

/* card 1 */

.item-card1 {
  border-radius: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cardInfo {
  width: 100%;
  background: green;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.parent {
  padding: 10px 20px;
}
p {
  color: #10131c;
  font-size: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.4px;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
