* {
  padding: 0px;
  margin: 0px;
}

.header {
  width: auto;
  height: 84px;
  background-color: #192140;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #dcf10d;
  font-size: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2.4px;
  width: 76px;
  height: 17px;
  margin-left: 80px;
  margin-top: 25px;
}

.menu {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
}

.navigator {
  text-align: center;
  font-size: 16px;
  align-items: flex-start;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  display: flex;
  gap: 30px;
  text-decoration: none;
}

.signupField {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  gap: 20px;
}

.signUp {
  color: #9d9db5;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.16px;
}

.logIn {
  border-radius: 40px;
  border: 1px solid #0266ff;
  color: #0266ff;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600px;
  line-height: 100%;
  letter-spacing: -0.16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  gap: 5px;
}

.nav {
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  display: flex;
  gap: 30px;
  text-decoration: none;
}

.blog {
  color: #dcf10d;
  text-decoration-line: underline;
}

.content {
  margin: 50px auto;
  width: 900px;
  height: auto;
  background-color: #fff;
  display: flex;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 30px;
}

/* item Card/Card info */
.item-card {
  border-radius: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cardInfo {
  width: 100%;
  border-radius: 0px 0px 6px 6px;
  position: relative;
}

.img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 6px 6px 0px 0px;
}

.parent {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 150px;
  gap: 10px;
  align-self: stretch;
  border-radius: 0px 0px 6px 6px;
  background: #f8f9fc;
}

p {
  color: #10131c;
  font-size: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.4px;
}

.postfield {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.line {
  align-self: stretch;
  width: 100%;
  height: 1px;
  background-color: #9d9db5;
}

.dateLikes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.date {
  display: flex;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 40px;
  border: 1px solid #c0bfcf;
}

.child {
  color: #9d9db5;
  text-align: center;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.likesField {
  display: flex;
  align-items: center;
  gap: 2px;
}

.fa-circle-xmark {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.fa-heart {
  width: 100%;
  height: 100%;
  color: #9d9db5;
}

.likes {
  color: #9d9db5;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.36px;
}

.footer {
  height: auto;
  background: #10131c;
}

.footerBox {
  display: flex;
}

.frame1 {
  display: flex;
  width: 630px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin: 60px auto 60px 80px;
}

.tittle {
  color: #fff;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.32px;
}

.framebox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.menuChild {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.child1 {
  color: #d7f8ff;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.36px;
}

.frame2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 60px 100px auto 90px;
}

.framebox2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.tittle2 {
  color: #fff;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.24px;
}

.socialNetwork {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.fa-brands {
  color: #ffffff;
  width: 30px;
  height: 30px;
}

.frame3 {
  display: flex;
  margin-top: 80px;
  margin-left: 115px;
}

.framebox3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  opacity: 0.400000006;
}

.fa-regular.fa-heart.active {
  color: blue;
  cursor: pointer;
}

.cardInfo:hover .fa-circle-xmark {
  display: block;
}

.fa-circle-xmark {
  display: none;
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 24px;
  color: #0266ff;
  cursor: pointer;
}

.cardInfo:hover .read-icon {
  display: block;
}

.read-icon {
  display: none;
  cursor: pointer;
}

#circle-xmark {
  display: none;
}

.btnBurger {
  display: none;
}

.navContainer {
  display: none;
}

@media screen and (max-width: 450px) {
  .content {
    width: 100%;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: 30px;
  }
  .img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 6px 6px 0px 0px;
  }
  .btnBurger {
    display: block;
    color: #0266ff;
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .logo {
    color: #dcf10d;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2.4px;
    width: 76px;
    height: 17px;
    margin-left: 14px;
    margin-top: 25px;
  }
  .menu {
    display: none;
  }
  .header {
    width: 100%;
  }
  .items {
    margin: 40px 15px 60px 14px;
  }
  .frame1 {
    margin: 40px 0px 0px 15px;
    width: 100%;
  }
  .footerBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .blogChild {
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
    display: flex;
    align-items: flex-start;
  }
  .frame2 {
    margin: 40px 0px 0px 15px;
    width: 100%;
  }
  .framebox2 {
    width: 100%;
  }
  .socialNetwork {
    width: 100%;
  }
  .frame3 {
    margin: 40px 0px 40px 0px;
  }
  .signupField {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }
  .logIn {
    height: 15px;
  }
  .navItem {
    transition: 0.7s ease;
  }
  .navItem:hover {
    background-color: #0266ff;
  }
  .navContainer {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60%;
    height: 100%;
    background-color: #10131c;
    opacity: 90%;
  }
  .navItems {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #d7f8ff;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
  }
  #circle-xmark {
    font-size: 30px;
    color: #9d9db5;
    position: absolute;
    right: 20px;
    top: 15px;
    font-weight: 1px;
  }
}/*# sourceMappingURL=main.css.map */